In [1]:
import pandas as pd
import numpy as np

In [2]:
corpus = ['A computer is a machine that can be programmed to carry out sequences of arithmetic or logical operations (computation) automatically.',
          'Modern digital electronic computers can perform generic sets of operations known as programs.',
          'These programs enable computers to perform a wide range of tasks' ]

In [3]:
words_set = set()

for doc in  corpus:
    words = doc.split(' ')
    words_set = words_set.union(set(words))
    
print('Number of words in the corpus:',len(words_set))
print('The words in the corpus: \n', words_set)

Number of words in the corpus: 36
The words in the corpus:
 {'digital', 'of', 'Modern', 'computer', 'range', 'enable', 'operations', 'arithmetic', 'machine', 'programs', 'be', 'sequences', 'generic', 'sets', 'or', 'These', 'electronic', 'programs.', 'that', 'is', 'as', 'out', 'known', 'carry', 'automatically.', 'a', 'to', 'perform', 'wide', '(computation)', 'programmed', 'A', 'computers', 'tasks', 'logical', 'can'}

In [4]:
n_docs = len(corpus)         # Number of documents in the corpus
n_words_set = len(words_set) # Number of unique words in the set

df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=list(words_set))

# Compute Term Frequency (TF)
for i in range(n_docs):
    words = corpus[i].split(' ')  # Words in the document
    for w in words:
        df_tf[w][i] = df_tf[w][i] + (1 / len(words))
        
df_tf

,digital,of,Modern,computer,range,enable,operations,arithmetic,machine,programs,...,to,perform,wide,(computation),programmed,A,computers,tasks,logical,can
0,0.000000,0.050000,0.000000,0.05,0.000000,0.000000,0.050000,0.05,0.05,0.000000,...,0.050000,0.000000,0.000000,0.05,0.05,0.05,0.000000,0.000000,0.05,0.050000
1,0.076923,0.076923,0.076923,0.00,0.000000,0.000000,0.076923,0.00,0.00,0.000000,...,0.000000,0.076923,0.000000,0.00,0.00,0.00,0.076923,0.000000,0.00,0.076923
2,0.000000,0.090909,0.000000,0.00,0.090909,0.090909,0.000000,0.00,0.00,0.090909,...,0.090909,0.090909,0.090909,0.00,0.00,0.00,0.090909,0.090909,0.00,0.000000

In [5]:
print("IDF of: ")

idf = {}

for w in words_set:
    k = 0    # number of documents in the corpus that contain this word
    
    for i in range(n_docs):
        if w in corpus[i].split():
            k += 1
            
    idf[w] =  np.log10(n_docs / k)
    
    print(f'{w:>15}: {idf[w]:>10}' )

IDF of:
        digital: 0.47712125471966244
             of:        0.0
         Modern: 0.47712125471966244
       computer: 0.47712125471966244
          range: 0.47712125471966244
         enable: 0.47712125471966244
     operations: 0.17609125905568124
     arithmetic: 0.47712125471966244
        machine: 0.47712125471966244
       programs: 0.47712125471966244
             be: 0.47712125471966244
      sequences: 0.47712125471966244
        generic: 0.47712125471966244
           sets: 0.47712125471966244
             or: 0.47712125471966244
          These: 0.47712125471966244
     electronic: 0.47712125471966244
      programs.: 0.47712125471966244
           that: 0.47712125471966244
             is: 0.47712125471966244
             as: 0.47712125471966244
            out: 0.47712125471966244
          known: 0.47712125471966244
          carry: 0.47712125471966244
 automatically.: 0.47712125471966244
              a: 0.17609125905568124
             to: 0.17609125905568124
        perform: 0.17609125905568124
           wide: 0.47712125471966244
  (computation): 0.47712125471966244
     programmed: 0.47712125471966244
              A: 0.47712125471966244
      computers: 0.17609125905568124
          tasks: 0.47712125471966244
        logical: 0.47712125471966244
            can: 0.17609125905568124

In [6]:
df_tf_idf = df_tf.copy()

for w in words_set:
    for i in range(n_docs):
        df_tf_idf[w][i] = df_tf[w][i] * idf[w]
        
df_tf_idf

,digital,of,Modern,computer,range,enable,operations,arithmetic,machine,programs,...,to,perform,wide,(computation),programmed,A,computers,tasks,logical,can
0,0.000000,0.0,0.000000,0.023856,0.000000,0.000000,0.008805,0.023856,0.023856,0.000000,...,0.008805,0.000000,0.000000,0.023856,0.023856,0.023856,0.000000,0.000000,0.023856,0.008805
1,0.036702,0.0,0.036702,0.000000,0.000000,0.000000,0.013545,0.000000,0.000000,0.000000,...,0.000000,0.013545,0.000000,0.000000,0.000000,0.000000,0.013545,0.000000,0.000000,0.013545
2,0.000000,0.0,0.000000,0.000000,0.043375,0.043375,0.000000,0.000000,0.000000,0.043375,...,0.016008,0.016008,0.043375,0.000000,0.000000,0.000000,0.016008,0.043375,0.000000,0.000000

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
tr_idf_model  = TfidfVectorizer()
tf_idf_vector = tr_idf_model.fit_transform(corpus)

In [9]:
print(type(tf_idf_vector), tf_idf_vector.shape)

<class 'scipy.sparse._csr.csr_matrix'> (3, 33)

In [10]:
tf_idf_array = tf_idf_vector.toarray()

print(tf_idf_array)

[[0.24934612 0.         0.24934612 0.24934612 0.18963415 0.24934612
  0.24934612 0.24934612 0.         0.         0.         0.
  0.         0.24934612 0.         0.24934612 0.24934612 0.
  0.14726784 0.18963415 0.24934612 0.24934612 0.         0.24934612
  0.         0.         0.24934612 0.         0.         0.24934612
  0.         0.18963415 0.        ]
 [0.         0.31248742 0.         0.         0.23765474 0.
  0.         0.         0.23765474 0.31248742 0.31248742 0.
  0.31248742 0.         0.31248742 0.         0.         0.31248742
  0.1845601  0.23765474 0.         0.         0.23765474 0.
  0.23765474 0.         0.         0.31248742 0.         0.
  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.27474564 0.         0.         0.3612575
  0.         0.         0.         0.         0.         0.
  0.2133645  0.         0.         0.         0.27474564 0.
  0.27474564 0.3612575  0.         0.         0.3612575  0.
  0.3612575  0.27474564 0.3612575 ]]

In [12]:
words_set = tr_idf_model.get_feature_names_out()

print(words_set)

['arithmetic' 'as' 'automatically' 'be' 'can' 'carry' 'computation'
 'computer' 'computers' 'digital' 'electronic' 'enable' 'generic' 'is'
 'known' 'logical' 'machine' 'modern' 'of' 'operations' 'or' 'out'
 'perform' 'programmed' 'programs' 'range' 'sequences' 'sets' 'tasks'
 'that' 'these' 'to' 'wide']